:root {
    --peach: #D3506B;
    --light-peach: #FFB792;
    --purple: #58236B;
    --light-purple: #F6DEFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #F1F2FB;
}

img {
    width: 4rem;
    display: block;
}

svg {
    display: block;
}

/* BREADCRUMBS */
.breadcrumbs {
    padding: .8rem 2rem;
    margin: 0;
    display: flex;
    gap: .8rem;
    background-color: #FFFFFF;
    border-top: 1px solid #E1E2EB;
}

.breadcrumbs a {
    padding: .2rem 1rem;
    background-color: #F1F2FB;
    border-radius: 100px;
}
.breadcrumbs a:hover {
    background-color: #E1E2EB;
}

.breadcrumbs span {
    color: #E1E2EB;
}

.breadcrumbs-active {
    cursor: default;
    color: #A1A2AB;
}

main .left #kementerian, #visimisi, #proker {
    scroll-margin-top: 110px;
}
/* MAIN */
main {
    margin: 2rem;
    display: flex;
    gap: 2rem;
}

main hr {
    border: none;
    border-top: 1px solid #E1E2EB;
}

/* MAIN | LEFT */
main .left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .left .content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

main .left .content h2 {
    font-size: clamp(1.6rem, 5vw, 2rem);
    font-weight: 500;
    line-height: 1;
}

main .left .content img {
    width: 40%;
    background-color: #4A1B31;
    border-radius: 1rem;
}
main .left .content img.proker-image {
    width: 100%;
}
main .left .content img.proker-border {
    border: 1px solid #4A1B31;
    box-shadow: 2.5px 2.5px 0 0 #4A1B31;
}

main .left .content strong {
    display: inline-block;
    padding: .2rem 1.2rem;
    font-weight: normal;
    color: var(--peach);
    border: 1.4px solid var(--peach);
    border-radius: 100px;
}

main .left .content .content-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .left .content .content-text th {
    padding: 5px;
    color: var(--peach);
    vertical-align: top;
}
main .left .content .content-text td {
    padding: 5px;
}

main .left .content .content-text td b {
    font-weight: 600;
}

main .left .content .proker-wrap {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .left .content .proker-wrap .proker {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

main .left .content .proker-wrap .proker-collab {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main .left .content .proker-wrap .proker-collab .collab {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* MAIN | UKM */
main .left .ukm {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

main .left .ukm h2 {
    font-size: clamp(1.6rem, 5vw, 2rem);
    font-weight: 500;
}

main .left .ukm .ukm-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
main .left .ukm .ukm-image img {
    width: 10rem;
}

/* MAIN | RIGHT */
main .right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .right .sticky {
    top: 7rem;
    position: sticky;
}

main .right .content {
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background: linear-gradient(to bottom right, #4A1B31, #4A1B31, var(--light-peach));
    border-radius: 1rem;
}

main .right .content p {
    color: var(--light-peach);
}

main .right .content a {
    padding: 4px 1rem;
    color: #F1F2FB;
    background-color: #FFB79266;
    border-radius: 100px;
    transition: .2s ease-in-out;
}
main .right .content a:hover {
    color: #4A1B31;
    background-color: var(--light-peach);
}
main .right .content a:hover > i {
    color: #4A1B31;
}

main .right .content i {
    color: #F1F2FB;
    transition: .2s ease-in-out;
}

/* RESPONSIVE BREAKPOINT */
@media (max-width: 576px) {
    /* BREADCRUMBS */
    .breadcrumbs {
        padding: .5rem .4rem;
        display: flex;
        gap: .4rem;
        border-top: 1.4px solid #E1E2EB;
    }

    .breadcrumbs a {
        padding: .1rem .8rem;
    }

    /* MAIN */
    main {
        margin: 2rem 1rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }

    /* MAIN | LEFT */
    main .left {
        width: 100%;
    }

    main .left .content {
        padding: 1rem;
        border-radius: .5rem;
    }

    /* MAIN | RIGHT */
    main .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}