:root {
    --peach: #D3506B;
    --light-peach: #FFB792;
    --purple: #58236B;
    --light-purple: #F6DEFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background-color: #F1F2FB;
}

img {
    width: 4rem;
    display: block;
}

svg {
    display: block;
}

/* HEADER */
header {
    padding: 1.5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
}

header h1 {
    font-size: clamp(1.8rem, 5vw, 4rem);
    font-weight: 500;
    line-height: 1.1;
    color: #414243;
}

header span {
    font-size: clamp(1.5rem, 5vw, 3.3rem);
    font-weight: 400;
    color: #414243;
}
header .bem {
    color: #4A1B31;
}

header img {
    width: 100%;
    opacity: .9;
    border-radius: 1rem;
}

/* MAIN */
/* MAIN | JUMBOTRON */
main .jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: linear-gradient(to right, royalblue, royalblue, royalblue, royalblue, skyblue);
}

main .jumbotron img {
    width: 18rem;
    opacity: .9;
}

main .jumbotron .jumbotron-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .jumbotron .jumbotron-text h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    font-weight: 500;
    line-height: 1;
    color: #FFFFFF;
}

main .jumbotron .jumbotron-text a {
    padding: 7px 30px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}
main .jumbotron .jumbotron-text a:hover {
    color: royalblue;
    background-color: #FFFFFF;
}

/* MAIN | SAMBUTAN */
main #sambutan {
    scroll-margin-top: 110px;
}
main .sambutan-wrapper {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .sambutan-wrapper .sambutan {
    padding: 1.5rem;
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
}

main .sambutan-wrapper .sambutan .sambutan-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

main .sambutan-wrapper .sambutan .sambutan-image h2 {
    font-size: clamp(1.6rem, 5vw, 1rem);
    font-weight: 500;
    line-height: 1;
}

main .sambutan-wrapper .sambutan .sambutan-image img {
    width: 20rem;
    background-color: #4A1B31;
    border-radius: 1rem;
}

main .sambutan-wrapper .sambutan .sambutan-image strong {
    display: inline-block;
    padding: .2rem 1.2rem;
    font-weight: normal;
    color: var(--peach);
    border: 1.4px solid var(--peach);
    border-radius: 100px;
}

main .sambutan-wrapper .sambutan .sambutan-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

/* MAIN | KEMENTERIAN */
main .kementerian {
    padding: 2rem 10rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
}

main .kementerian .kementerian-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

main .kementerian-head h2 {
    font-weight: 500;
    font-size: clamp(2rem, 5vw, 3rem);
}

main .kementerian .kementerian-divisi {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main .kementerian .kementerian-divisi details {
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;

}
main .kementerian .kementerian-divisi details[open] {
    padding: 2rem 2rem;
    border-radius: 1.5rem;
}
main .kementerian .kementerian-divisi details[open] summary {
    margin-bottom: 1rem;
}
main .kementerian .kementerian-divisi details[open] svg {
    transform: rotate(-180deg);
    border-radius: 100px;
    box-shadow: -3px -3px 0 0 #F1F2FB;
}

main .kementerian .kementerian-divisi details summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    transition: .2s ease-in-out;
}

main .kementerian .kementerian-divisi details summary svg {
    transition: .2s ease-in-out;
}


/* RESPONSIVE BREAKPOINTS */
@media (max-width: 576px) {
    /* HEADER */
    header {
        padding: 20px;
        margin: 10px;
        display: flex;
        gap: 10px;
        border-radius: 10px;
    }

    header img {
        border-radius: 10px;
    }

    /* MAIN */
    /* MAIN | JUMBOTRON */
    main .jumbotron {
        padding-top: 1.5rem;
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        background: royalblue;
    }

    main .jumbotron .jumbotron-text {
        order: 1;
        display: flex;
        gap: .5rem;
    }
    main .jumbotron .jumbotron-image {
        order: 2;
    }

    main .jumbotron img {
        width: 15rem;
    }

    main .jumbotron .jumbotron-text {
        text-align: center;
    }

    main .jumbotron .jumbotron-text a {
        padding: 2px 20px;
        color: white;
        border: 1px solid #FFFFFF;
        border-radius: 100px;
    }

    /* MAIN | SAMBUTAN */
    main .sambutan-wrapper {
        margin: 10px;
        display: flex;
    }

    main .sambutan-wrapper .sambutan {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    main .sambutan-wrapper .sambutan .sambutan-image img {
        width: 100%;
        border-radius: .8rem;
    }

    /* MAIN | KEMENTERIAN */
    main .kementerian {
        padding: 10px;
        margin: 0;
    }

    main .kementerian .kementerian-head {
        display: flex;
        gap: .5rem;
    }

    main .kementerian .kementerian-divisi details {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }
    main .kementerian .kementerian-divisi details[open] {
        padding: 1rem 1.5rem;
        border-radius: 1.5rem;
    }
}